<!DOCTYPE html>
<html>
<head>
  <title>ContactApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user == nil %>
  <%= link_to "Log in", "/users/sign_in" %>
  <%= link_to "Sign up", "/users/sign_up" %>
<% else %>
  <%= link_to "Sign out", "/users/sign_out", method: :delete %>
<% end %>
<h4>Groups</h4>
<ul>
  <li><a href="/contacts?group=Friends">Friends</a></li>
  <li><a href="/contacts?group=Work">Work</a></li>
  <li><a href="/contacts?group=Enemies">Enemies</a></li>
</ul>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
